<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>400 Bad Request</title>
</head>
<body>
    <h1> 400: BAD REQUEST </h1>
    <p> Informações inválidas. </p>
    <p> {{ message }} </p>
</body>
</html>