<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 Internal Server Error</title>
</head>
<body>
    <h1> 500: INTERNAL SERVER ERROR </h1>
    <p> Ocorreu um erro interno no servidor. </p>
</body>
</html>
